mat-form-field {
  width: 60vw;
}

button {
  width: 10vw;
  margin-left: 10px;
}

mat-grid-tile div { 
  display: inline-block; 
  width: 100%; 
  padding-left: 100px; 
  text-align: left; 
} 
 
img { 
  float: left; 
  margin-right: 10px; 
}