<div class="card">
  <div class="card-divider"><h4>Login</h4></div>
  <div class="card-section">
    <form (ngSubmit)="login()">
      <div *ngIf="error" class="callout small">{{error}}</div>
      <input [(ngModel)]="email" [disabled]="working" name="email" type="email" placeholder="Email" />
      <input [(ngModel)]="password" [disabled]="working" name="password" type="password" placeholder="Password" />
      <button [disabled]="working" type="submit" class="button primary">
        Login
        <fa-icon *ngIf="working" icon="spinner" spin="true"></fa-icon>
      </button>
    </form>
  </div>
</div>
<a (click)="goToSignUp()">Sign Up</a>