<div class="card">
  <div class="card-divider"><h4>Sign Up</h4></div>
  <div class="card-section">
    <form (ngSubmit)="signUp()">
      <div *ngIf="error" class="callout small">{{error}}</div>
      <input [(ngModel)]="email" [disabled]="working" name="email" type="email" placeholder="Email" />
      <input [(ngModel)]="password" [disabled]="working" name="password" type="password" placeholder="Password" />
      <input [(ngModel)]="repeatPassword" [disabled]="working" name="repeatPassword" type="password" placeholder="Repeat Password" />
      <button [disabled]="working" type="submit" class="button primary">
        Sign Up
        <fa-icon *ngIf="working" icon="spinner" spin="true"></fa-icon>
      </button>
    </form>
  </div>
</div>
<a (click)="goToLogin()">Login</a>